:root{
    --cor-primaria:blueviolet;
    --cor-secundaria: #825fff;
    --cor-fundo: white;
    --cor-texto: black;
}

body {
    max-width: 100vw;

}
                
                
header{
    background-color:var(--cor-primaria)
    color: var(--cor-primaria);
    text-align:center;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #825fff;
}
main{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0 auto;
    padding: 10px;

    display: flex;

    flex-wrap: wrap;
}
article{
    display: flex;

    border: 1px solid blueviolet;

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 30%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;


}
img{
    width: 200px;
    height: 80px;    
}